#logoContainer {
  display: inline-block;
  padding: 60px 0px 0px 10%;
}

#logoContainer img {
  height: 50px;
}
#colorChanging {
  width: 200px;
  height: 200px;
  margin-right: 120px;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 150px;
  padding: 17px;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  margin-left: 75%;
  margin-top: 4rem;
}
#benchmarkTimerContainer {
  width: 200px;
  height: 200px;
  margin: -47px 120px 0px 0px;
  text-align: center;
  margin-left: 75%;
}

#benchmarkTimer {
  font-size: 3rem;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benchmarkTimer span {
  font-size: 15px;
  font-weight: 300;
  display: block;
  line-height: 30px;
}

#seconds {
  font-weight: 600;
  font-size: 50px;
}

main {
  margin-top: 40px;
  text-align: center;
}

main h1 {
  font-size: 30px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 70px;
}

#benchmarkButtonsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 100%;
  margin: 20px 25% 150px 25%;
  place-items: center;
}

.benchmarkAnswerButton {
  font-size: 30px;
  color: white;
  background-color: #23294f;
  border-radius: 50px;
  border: 3px solid transparent;
  background: linear-gradient(#23294f, #23294f) padding-box, linear-gradient(0deg, rgba(66, 66, 66, 1) 25%, rgba(255, 255, 255, 1) 100%) border-box;
  overflow: hidden;
  width: 90%;
  height: 80px;
}

.benchmarkAnswerButton:hover {
  background-color: #b00087;
  background: linear-gradient(#b00087, #b00087) padding-box, linear-gradient(0deg, rgba(185, 21, 146, 1) 35%, rgba(255, 255, 255, 1) 100%) border-box;
}

.clickedButton {
  background-color: #b00087;
  background: linear-gradient(#b00087, #b00087) padding-box, linear-gradient(0deg, rgba(185, 21, 146, 1) 35%, rgba(255, 255, 255, 1) 100%) border-box;
}

#nextQuestionButton {
  max-width: 300px;
}

footer {
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 3px;
}

footer h5 {
  display: inline-block;
  max-width: 100%;
  margin-left: 29rem;
  margin-right: 10rem;
}

footer span {
  color: #b51289;
}
