#logo {
  width: 10%;
  margin-left: 13rem;
  margin-top: 2rem;
}

.header {
  text-align: center;
}

.header h1 {
  margin: 0;
}

.header p {
  margin: 0;
  margin-bottom: 2rem;
}

.main {
  text-align: center;
  margin-bottom: 2rem;
}

.result-block {
  display: inline-block;
  width: 22%;
  vertical-align: middle;
  aspect-ratio: 1/0.5;
}

.result-block h2 {
  font-size: 2rem;
}

.result-block:nth-child(1) {
  text-align: left;
}

.result-block:nth-child(1) h2 {
  font-weight: 500;
}

#correct-percentage {
  font-weight: 700;
  font-size: 5rem;
  margin-top: -15px;
}

#correct-questions {
  font-size: 2rem;
  font-weight: 300;
}

.result-block:nth-child(3) {
  text-align: right;
}

.result-block:nth-child(3) h2 {
  font-weight: 500;
}

#wrong-percentage {
  font-weight: 700;
  font-size: 5rem;
  margin-top: -15px;
}

#wrong-questions {
  font-size: 2rem;
  font-weight: 300;
}

.result-block h2,
h3,
p {
  margin: 0;
}

#donut {
  aspect-ratio: 1/1;
  /* diventera una variabile */
  /*background: conic-gradient(#d20094 0% 33%, #00ffff 33% 100%);*/
  border-radius: 50%;
}

.donut-center {
  background-image: url(../img/bg.jpg);
  background-position: center;
  border-radius: 50%;
  width: 75%;
  height: 75%;
  position: relative;
  top: 13%;
  left: 13%;
  padding: 0.5rem;
}

#donutTextContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#donut-title {
  margin-top: 0px;
  margin-bottom: 1.7rem;
  font-weight: 600;
  font-size: 2rem;
}

#donut-result {
  margin-bottom: 1rem;
  /* diventera una variabile */
  color: #00ffff;
  font-size: 1rem;
}

#donut-para {
  font-weight: 300;
  font-size: 0.8rem;
}

#button-div {
  text-align: center;
}

#send-button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: large;
  padding: 1rem 3rem;
  font-weight: bold;
}

#send-button:hover {
  color: #00ffff;
  border-color: #00ffff;
}

#containerOfTable {
  max-width: 70rem;
  margin: auto;
}

table {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

th,
tr,
td {
  border: 3px solid white;
  padding: 0.5rem;
}

th {
  font-weight: bold;
  font-size: 2rem;
}

tr,
td {
  font-size: 1.5rem;
}

td:not(:first-child) {
  text-align: center;
}

.itsCorrect {
  background-color: rgb(8, 82, 8);
}

.itsIncorrect {
  background-color: rgb(167, 13, 44);
}
