@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Outfit;
}

p,
span,
button,
li,
table,
tr,
th,
td {
  font-family: Inter;
}
